{% extends 'base.html' %} 

{% load static %}

{% block content %}

    <body>
        <main id="container">
            <div class="container-fluid mt-5">
                <!-- Alerts -->
                {% include 'partials/_alerts.html' %}
                <div class="row g-0 mt-md-5 pt-5">
                    <div class="col-md-4 my-2">
                        <div class="d-flex justify-content-center">
                            <img src="{% static 'images/friends.jpeg' %}" class="rounded" style="max-width: 90%;max-height: 80%;">
                        </div>
                    </div>
                    <div class="col-md-8 d-flex align-items-center fst-italic text-break">
                        <div>
                            <h1 class="text-center">
                                Wondering what to do on a long and tiring journey to university by yourself?
                            </h1>
                            <h3 class="text-center">
                                Here's a way to meet new people, develop new connections and most importanty, minimize your carbon footprint by occupying empty vehicle seats while simultaneously making long and exhausting rides enjoyable and interactive.
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row g-0 mt-md-5 pt-5">
                    <div class="col-md-8 d-flex align-items-center fst-italic text-break">
                        <div>
                            <h1 class="text-center">
                                Did you know ?
                            </h1>
                            <h3 class="text-center">
                                Ridesharing service such as Uber or Lytt removes between 5.5 to 12.7 tons of greenhouse gas emissions per year. 
                                This contributed to the decrease of the total carbon dioxide emissions from cars by about 10% !
                            </h3>
                        </div>
                    </div>
                    <div class="col-md-4 my-2">
                        <div class="d-flex justify-content-center">
                            <img src="{% static 'images/commute.png' %}" style="max-width: 80%;max-height: 80%;">
                        </div>
                        <div class="slogan text-center">
                            Reimagining affordable green commuting
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>

{% endblock %}