{% extends 'base.html' %} 

{% load static %}

{% block content %}

    <body>

        <main id="container">

            <div class="container mt-5">

                <form action="#" id="riderSignUpForm">

                    <h2 class="justify-content-center" style="display: inline-block;vertical-align: middle;">You are a step away to drive&nbsp;
                        <img src="{% static 'images/car.png' %}" style="width: 96px; height: 96px;vertical-align: middle;">
                    </h2>

                    <div class="row">

                        <div class="col-lg-3"></div>

                        <div class="col-lg-6 border mt-2 p-4 bg-light">

                            <div class="my-2">
                                <label class="font-weight-bold" for="firstname">First Name</label>
                                <input type="text"
                                       name="rsu_firstname"
                                       class="form-control mt-1"
                                       id="firstname"
                                       placeholder="James"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-2">
                                <label class="font-weight-bold" for="lastname">Last Name</label>
                                <input type="text"
                                       name="rsu_lastname"
                                       class="form-control mt-1"
                                       id="lastname"
                                       placeholder="Webb"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-2">
                                <label class="font-weight-bold" for="mobile">Phone</label>
                                <input type="text"
                                       name="rsu_mobile"
                                       class="form-control mt-1"
                                       id="mobile"
                                       placeholder="202-994-1000"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-2">
                                <label class="font-weight-bold" for="email">Email</label>
                                <input type="email"
                                       name="rsu_email"
                                       class="form-control mt-1"
                                       id="email"
                                       placeholder="james.webb@gwmail.gwu.edu"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-2">
                                <label class="font-weight-bold" for="password">Password</label>
                                <input type="password"
                                       name="rsu_password"
                                       class="form-control mt-1"
                                       id="password"
                                       placeholder="Enter Password"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-2">
                                <label class="font-weight-bold" for="address1">Street Address</label>
                                <input type="text"
                                       name="rsu_address1"
                                       class="form-control mt-1"
                                       id="address1"
                                       placeholder="2121 I St NW"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-2">
                                <label class="font-weight-bold" for="city">City</label>
                                <input type="text"
                                       name="rsu_city"
                                       class="form-control mt-1"
                                       id="city"
                                       placeholder="Washington DC"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-2">
                                <label class="font-weight-bold" for="state">State / Province / Region</label>
                                <input type="text"
                                       name="rsu_state"
                                       class="form-control mt-1"
                                       id="state"
                                       placeholder="Washington"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-2">
                                <label class="font-weight-bold" for="zip">Postal Code</label>
                                <input type="text"
                                       name="rsu_zip"
                                       class="form-control mt-1"
                                       id="zip"
                                       placeholder="20052"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-2">
                                <label class="font-weight-bold" for="license">Driver's License #</label>
                                <input type="text"
                                       name="rsu_license"
                                       class="form-control mt-1"
                                       id="license"
                                       placeholder="0123456789"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-2">
                                <label class="font-weight-bold" for="dateofissue">Date of Issue</label>
                                <input type="date"
                                       name="rsu_doi"
                                       class="form-control mt-1"
                                       id="dateofissue"
                                       placeholder="2022-03-12"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-2">
                                <label class="font-weight-bold" for="dateofexpiry">Date of Expiry</label>
                                <input type="date"
                                       name="rsu_doe"
                                       class="form-control mt-1"
                                       id="dateofexpiry"
                                       placeholder="2032-03-12"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-3">

                                <label class="font-weight-bold mb-2">
                                    Upload a picture of your driver's license
                                </label>

                                <input type="file"
                                       class="inputfile"
                                       name="file-2"
                                       id="file-2"
                                       data-multiple-caption="{count} files selected"
                                >
                                <label class="btn btn-primary" style="width: 100%;" for="file-2">
                                    <i class="fa fa-solid fa-upload"></i>
                                    <span>&nbsp;Browse files...</span>
                                </label>

                            </div>

                            <div class="my-3 d-flex justify-content-center border-bottom">
                                <h3 class="p-2">Vehicle Registration Form</h3>
                            </div>

                            <div class="my-2">
                                <label class="font-weight-bold" for="vehicle">License Plate #</label>
                                <input type="text"
                                       name="vsu_vehicle"
                                       class="form-control mt-1"
                                       id="vehicle"
                                       placeholder="4B35 55DF"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-2">
                                <label class="font-weight-bold" for="vehiclename">Brand</label>
                                <input type="text"
                                       name="vsu_name"
                                       class="form-control mt-1"
                                       id="vehiclename"
                                       placeholder="Volvo"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-2">
                                <label class="font-weight-bold" for="vehiclemodel">Model</label>
                                <input type="text"
                                       name="vsu_model"
                                       class="form-control mt-1"
                                       id="vehiclemodel"
                                       placeholder="XC90"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-2">
                                <label class="font-weight-bold" for="vehiclecolor">Color</label>
                                <input type="text"
                                       name="vsu_color"
                                       class="form-control mt-1"
                                       id="vehiclecolor"
                                       placeholder="White"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-3">

                                <label class="font-weight-bold mb-2">
                                    Upload a picture of your car
                                </label>

                                <input type="file"
                                       class="inputfile"
                                       name="file-3"
                                       id="file-3"
                                       data-multiple-caption="{count} files selected"
                                >
                                <label class="btn btn-primary" style="width: 100%;" for="file-3">
                                    <i class="fa fa-solid fa-upload"></i>
                                    <span>&nbsp;Browse files (.png, .jpg)...</span>
                                </label>

                            </div>

                            <div class="d-flex">
                                <button type="submit" class="btn mt-4 btn-success flex-fill" id="riderSignUpButton">
                                    Submit
                                </button>
                            </div>

                            <div class="mt-3 alert alert-success d-none" id="signInAlert">
                                You will be re-directed to home page shortly
                            </div>

                            <div class="mt-3 alert alert-danger d-none" id="emailAlert">
                                <strong>Please enter a valid email !</strong> Ex: james@gwmail.gwu.edu
                            </div>

                        </div>

                        <div class="col-lg-3"></div>

                    </div>

                </form>

            </div>

        </main>

    </body>

</html>

{% endblock %}