{% load static %}

<!-- Footer -->
<footer class="footer">
    <div class="container-fluid p-5">
        <div class="row g-0">
            <div class="col-md-2"></div>
            <div class="col-md-4 p-2 footer-logo">
                <div>
                    <img src="{% static 'images/footer_logo.png' %}" style="width: 79px; height: auto">
                </div>
            </div>
            <div class="col-md-4 p-2 address">
                <span>The George Washington University</span>
                <br>
                <div>
                    <span>1918 F Street, NW</span>
                    <br>
                    <span>Washington</span>
                    <span>DC</span>
                    <span>20052</span>
                </div>
                <span>202-994-1000</span>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</footer>