{% load static %}

<!-- Nav Bar (Logged-in) -->

{% if user.is_authenticated %}

<nav class="navbar navbar-expand-md navbar-dark bg-gw">

    <div class="container-fluid">

        <a class="navbar-brand p-2" href="{% url 'index' %}">
            <img src="{% static 'images/gw_logo.png' %}" alt="George Washington University">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="m-1 collapse navbar-collapse" id="myNavbar">

            <div class="ms-auto" id="carpoolLogo">
                <img src="{% static 'images/logo.png' %}" alt="George Washington University">
            </div>

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'findride' %}">Find a Ride / Rider</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'schedule' %}">My Schedule</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_driver' %}">Account</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">
                        <span class="fas fa-arrow-right-from-bracket"></span>&nbsp;Logout
                    </a>
                </li>

            </ul>

        </div>

    </div>

</nav>

{% else %}

<!-- Nav Bar (Not Logged-in)-->
<nav class="navbar navbar-dark bg-gw">

    <div class="container-fluid">

        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'images/gw_logo.png' %}" alt="George Washington University" style="width:40px;">
        </a>
        <div class="m-2">
            <div class="ms-auto" id="carpoolLogo">
                <img src="{% static 'images/logo.png' %}" alt="George Washington University">
            </div>
        </div>

        <div class="d-flex flex-row">
            <div class="m-2">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle mb-3" data-bs-toggle="dropdown">
                        Sign Up
                    </button>
                    <ul class="dropdown-menu p-2" style="width: 180px;">
                        <li>
                            <button class="btn btn-success my-2" type="button" onclick="location.href='{% url 'signup_rider' %}'" style="width: 100%;">
                                Sign Up to ride&nbsp;<i class="fa fa-solid fa-user"></i>
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-success my-2" type="button" onclick="location.href='{% url 'signup_driver' %}'" style="width: 100%;">
                                Sign Up to drive&nbsp;<i class="fa fa-solid fa-car"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-2">
                <button class="btn btn-success" type="button" onclick="location.href='{% url 'login_user' %}'">
                    Login&nbsp;<i class="fa fa-solid fa-arrow-right-to-bracket"></i>
                </button>
            </div>
        </div>
    </div>

</nav>

{% endif %}