{% load static %}

<!-- Nav Bar -->
<nav class="navbar navbar-dark bg-gw">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'images/gw_logo.png' %}" alt="George Washington University" style="width:40px;">
            </a>
        </div>
        <div class="d-flex flex-row">
            <div class="m-2">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle mb-3" data-bs-toggle="dropdown">
                        Sign Up
                    </button>
                    <ul class="dropdown-menu p-2" style="width: 180px;">
                        <li>
                            <button class="btn btn-success my-2" type="button" onclick="location.href='{% url 'signup_rider' %}'" style="width: 100%;">
                                Sign Up to ride&nbsp;<i class="fa fa-solid fa-user"></i>
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-success my-2" type="button" onclick="location.href='{% url 'signup_driver' %}'" style="width: 100%;">
                                Sign Up to drive&nbsp;<i class="fa fa-solid fa-car"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-2">
                <button class="btn btn-success" type="button" onclick="location.href='{% url 'login_user' %}'">
                    Login&nbsp;<i class="fa fa-solid fa-arrow-right-to-bracket"></i>
                </button>
            </div>
        </div>
    </div>

</nav>