{% extends 'base.html' %} 

{% load static %}

{% block content %}

    <body>

        <main id="container">

            <div class="container mt-5">
                <!-- Alerts -->
                {% include 'partials/_alerts.html' %}
                <form action="{% url 'signup_user' %}" id="userSignUpForm" method="POST">
                    {% csrf_token %}

                    <h2 class="justify-content-center" style="display: inline-block;vertical-align: middle;">
                        You are a step away from the ride&nbsp;
                        <img src="{% static 'images/ride.png' %}" style="width: 48px; height: 48px;vertical-align: middle;">
                    </h2>

                    <div class="row">

                        <div class="col-lg-3"></div>

                        <div class="col-lg-6 border mt-2 p-4 bg-light">

                            <div class="my-2">
                                <label class="font-weight-bold" for="first_name">First Name</label>
                                <input type="text"
                                       name="first_name"
                                       class="form-control mt-1"
                                       id="first_name"
                                       placeholder="James"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-2">
                                <label class="font-weight-bold" for="last_name">Last Name</label>
                                <input type="text"
                                       name="last_name"
                                       class="form-control mt-1"
                                       id="last_name"
                                       placeholder="Webb"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-2">
                                <label class="font-weight-bold" for="email">Email</label>
                                <input type="email"
                                       name="email"
                                       class="form-control mt-1"
                                       id="email"
                                       placeholder="james.webb@gwmail.gwu.edu"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-2">
                                <label class="font-weight-bold" for="password">Password</label>
                                <input type="password"
                                       name="password"
                                       class="form-control mt-1"
                                       id="password"
                                       placeholder="Enter password"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-2">
                                <label class="font-weight-bold" for="phone">Phone</label>
                                <input type="text"
                                       name="phone"
                                       class="form-control mt-1"
                                       id="phone"
                                       placeholder="202-994-1000"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-2">
                                <label class="font-weight-bold" for="street_address">Street Address</label>
                                <input type="text"
                                       name="street_address"
                                       class="form-control mt-1"
                                       id="street_address"
                                       placeholder="2121 I St NW"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-2">
                                <label class="font-weight-bold" for="city">City</label>
                                <input type="text"
                                       name="city"
                                       class="form-control mt-1"
                                       id="city"
                                       placeholder="Washington"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="my-2">
                                <label class="font-weight-bold" for="state">State</label>

                                <select class="form-control mt-1" 
                                        name="state" 
                                        id="state"
                                >
                                    <option selected>----</option>
                                    <option value="DC">DC</option>
                                    <option value="MD">MD</option>
                                    <option value="VA">VA</option>
                                </select>

                                {% comment %} <input type="button"
                                       name="csu_state"
                                       class="form-control mt-1"
                                       id="state"
                                       placeholder="Washington"
                                       autocomplete="off"
                                > {% endcomment %}
                            </div>


                            <div class="my-2">
                                <label class="font-weight-bold" for="zip_code">Zip Code</label>
                                <input type="text"
                                       name="zip_code"
                                       class="form-control mt-1"
                                       id="zip_code"
                                       placeholder="20052"
                                       autocomplete="off"
                                       maxlength="5"
                                >
                            </div>

                            {% comment %} <div class="my-2">
                                <label class="font-weight-bold" for="is_driver">Check if you are a Driver</label>
                                <input type="checkbox"
                                       name="is_driver"
                                       class="form-control mt-1"
                                       id="is_driver"
                                >
                            </div> {% endcomment %}

                            <div class="form-check">
                                <!-- I used the hidden input method shown at: https://laracasts.com/discuss/channels/laravel/how-to-pass-checkbox-value-0-if-not-checked-and-1-if-checked
                                    and https://stackoverflow.com/questions/14067215/unchecked-checkbox-returning-null-value
                                    If we just use a single html checkbox input, value=1 gets passed if box checked, but if not checked, nothing (Null) gets passed. This was problematic
                                    for my backend -->
                                {% comment %} <input class="form-check-input" type="checkbox" name="is_driver" value="True" id="is_driver"> {% endcomment %}
                                <input class="form-check-input" type="hidden" name="is_driver" value=0 id="is_driver">
                                <input class="form-check-input" type="checkbox" name="is_driver" value=1 id="is_driver">
                                <label class="form-check-label" for="is_driver">

                                    
                                    Check if you are a Driver
                                </label>
                            </div>

                            <div class="d-flex">
                                <button type="submit" class="btn mt-4 btn-success flex-fill" id="userSignUpForm">
                                    Submit
                                </button>
                            </div>

                            <div class="mt-3 alert alert-success d-none" id="signInAlert">
                                You will be re-directed to home page shortly
                            </div>

                            <div class="mt-3 alert alert-danger d-none" id="emailAlert">
                                <strong>Please enter a valid email !</strong> Ex: james@gwmail.gwu.edu
                            </div>

                        </div>

                        <div class="col-lg-3"></div>

                    </div>

                </form>

            </div>

        </main>


    </body>

</html>

{% endblock %}