{% extends 'base.html' %} 

{% load static %}

{% block content %}


    <body>

        <main id="container">

            <div class="container-fluid mt-5">

                <div class="row g-0">

                    <div class="col-md-1 col-lg-3"></div>

                    <div class="col-md-10 col-lg-6 border bg-light mt-5 px-md-3 py-md-5">

                        <div class="container-fluid">

                            <div class="row d-flex justify-content-center mt-2 mb-5">
                                <h2 class="d-flex justify-content-center">Delete Event</h2>
                                <h4 class="d-flex justify-content-center">Schedule owner id: {{schedule.owner.id}}</h4>
                                <h4 class="d-flex justify-content-center">Schedule id: {{schedule.pk}}</h4>
                            </div>
                            
                            <br/><br/>
                            <div class="row d-flex justify-content-center mt-2 mb-5">
                                <h3 class="d-flex justify-content-center">Delete this event on &nbsp <strong>{{ schedule.day }} at {{ schedule.pickup_time }}</strong> ? </h3>
                            </div>
                            <br/>

                            <form method="POST" id="eventForm">
                                {% csrf_token %}
                               
                                <div class="d-flex justify-content-center my-2">
                                    <div class="p-1">
                                        <button type="submit" class="btn btn-danger">Delete Event</button>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>

                    <div class="col-md-1 col-lg-3"></div>

                </div>

            </div>

        </main>

    </body>

</html>

{% endblock %}