{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font -->
    <script src="https://kit.fontawesome.com/b3c219595d.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <!-- Image -->
    <link rel="icon" type="image/png" sizes="16x16" href= "{% static 'images/gw_logo.ico' %}">
    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'lib/fullcalendar/main.css' %}"/> -->

    <title>GW Carpool</title>
</head>
<body>
    <!-- Nav Bar -->
    {% include 'partials/_navbar.html' %}
    <!-- Main Content -->
    {% block content %} {% endblock %}
    <!-- Footer -->
    {% include 'partials/_footer.html' %}
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script type="text/javascript" src="{% static 'lib/fullcalendar/main.js' %}"></script> -->
    <!-- <script type="text/javascript" src="{% static 'js/calendar.js' %}"></script> -->
    <!-- <script type="text/javascript" src="{% static 'js/index.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>